@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: #e2e3db;
  font-family: "DM Sans", Arial, Helvetica, sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
